body {
    font-family: "Comic Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

div#recipe {
    width: 600px;
    margin: 0 auto;
    background-color: beige
}
img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    border: 2px solid black;
    background-color: gold;
    padding: 16px;
    margin: 0 auto;
}

body ul {
    color: darkred;
}

body ol {
    color: darkblue;
    text-align: left;
}

h1, h2 {
    text-align: center;
}

.desc {
    font-style: italic;
    text-align: center;
}

.ingred {
    color: green;
}

#important {

    font-weight: 900;
}