body {
    font-family: "Comic Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

div#recipe {
    width: 600px;
    margin: 0 auto;
    background-color: beige;
    padding: 10px;
}
img {
    width: 500px;
    display: block;
    margin: 0 auto;
    border: 2px dotted black;
}
div#start {
    padding: 10px;
    border: 2px dotted black;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    background-color: gold;
    margin: 0 auto;
}


ul li {
    display: inline-block;
    border: 2px solid black;
    background-color: gold;
    padding: 16px;
    margin: 0 auto;
}

body ul {
    color: darkred;
}

body ol {
    color: darkblue;
    text-align: left;
}

button#link {
    padding: 10px;
    background-color: black;
}

a {
    color:white;
}

h1, h2 {
    text-align: center;
}

.desc {
    font-style: italic;
    text-align: center;
}

.ingred {
    color: green;
}

#important {

    font-weight: 900;
}